body {
    width: 95%;
    padding: 10%;
    background: url(wallpaperflare.com_wallpaper.jpg);
}

.box1 {
    width: 600px;
    height: 100px;
    margin: 5px;
    box-shadow: 2px 3px 5px 9px #667;
    background: blueviolet;

}

.box2 {
    width: 650px;
    height: 140px;
    margin: 5px;
    box-shadow: 2px 3px 5px 9px rgb(151, 151, 221);
    text-shadow: 3px 4px 10px;
    font-size: 110%;
    color: rgb(7, 9, 131);
    background: aquamarine;
}

.box3 {
    width: 750px;
    height: 200px;
    margin: 5px;
    box-shadow: 2px 3px 5px 9px #667;
    text-shadow: 3px 4px 10px;
    font-size: 120%;
    color: raquamarine;
}

.box4 {
    width: 670px;
    height: 120px;
    margin: 5px;
    box-shadow: 2px 3px 5px 9px #667;
    text-shadow: 3px 4px 10px;
    font-size: 130%;
    color: rgb(0, 0, 0);
}
h5{
    font-size: 110%;
}